
* {
    font-family: Helvetica ;
}
.all {
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    background-color: rgb(64, 163,91);
}
.settings {
    display: flex;
    background-color: #4bbf6b;
}
.columns {
    display: flex;
    background-color: #4bbf6b;
}
  
