
* {
    font-family: Helvetica ;
    margin: 0;
}
.all {
    display: flex;
    flex-direction: column;
    width: 100%;
}
menu {
    padding: 0;
}
.navbar {
    display: flex;
    background-color: rgb(64, 163,91);
    justify-content: space-between;
    padding: 2px;
}
.navbar > div {
    display: flex;
}
.left > div {
    background-color: #8cc79d;
    padding: 7px 12px;
    margin: 2px;
    border-radius: 3px;
}
.right > div {
    background-color: #8cc79d;
    padding: 7px 12px;
    margin: 2px;
    border-radius: 3px;                        
}
.center > div {
    background-color: #8cc79d;
    padding: 7px 12px;
    margin: 2px;
    border-radius: 3px;
}
.doski {
    flex-basis:100px;
}
.search {
    flex-basis:300px;
}

.settings {
    display: flex;
    background-color: #4bbf6b;
    margin: 0;
}
.columns {
    display: flex;
    background-color: #4bbf6b;
}
  
